<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Correlation Matrix Visualization</title>
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous" />
    <!-- Plotly JS -->
    <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
  </head>
  <body class="container mt-5">
    <!-- Page Title -->
    <div class="row">
      <div class="col-md-6">
        <h1 class="mb-4">Stemgedrag Tweede Kamer</h1>
      </div>
      <div class="col-md-6 text-right">
        <p>Contact: larsgebraad [at] gmail.com</p>
        <p>
          GitHub: <a href="https://github.com/larsgeb/Polertiek">@larsgeb</a>
        </p>
        <p>
          <a href="https://larsgebraad.com">Homepage</a>
        </p>
        <p>License: GPLv3</p>
      </div>
    </div>
    <!-- Year Selection Controls -->
    <div class="form-inline">
      <label for="year" class="mr-2">Selecteer Jaar:</label>
      <select class="form-control mr-2" id="year" name="year" onchange="updatePlot()">2022</select>
      <button class="btn btn-primary" onclick="previousYear()">Vorig Jaar</button>
      <button class="btn btn-primary ml-2" onclick="nextYear()">Volgend Jaar</button>
    </div>

    <!-- Chart Containers -->
    <div class="row">
      <!-- Heatmap Container -->
      <div class="col-md-8 border p-3 mt-3">
        <div id="heatmap" style="width: 100%;"></div>
      </div>
      <div class="col-md-4 border p-3 mt-3">
        <p class="mt-3">Beschrijving: De correlatie-matrix toont de gesorteerde correlatie tussen het stemgedrag van politieke partijen. De kleuren geven de sterkte van de correlatie aan, waarbij blauw negatieve correlatie aangeeft, rood positieve correlatie, en wit geen correlatie. Beweeg je muis over de vakjes voor specifieke waarden.</p>
        <p>Een positieve correlatie (rode vlakken) betekent dat partijen vaak hetzelfde stemmen, terwijl een negatieve correlatie (blauwe vlakken) aangeeft dat ze vaker verschillend stemmen. Witte vlakken geven aan dat er geen duidelijk patroon is.</p>
        <p>De volgorde is gerangschikt met behulp van een hierarchise clustering. Dit betekent dat partijen die vaak samen stemmen, opeenvolgend voorkomen, waardoor patronen in het stemgedrag beter zichtbaar worden.</p>
      </div>

      <!-- Bar Chart Container -->
      <div class="col-md-12 border p-3 mt-3">
        <div id="barChart" style="width: 100%; height: 500px;"></div>
      </div>

      <!-- Bar Chart Container -->
      <div class="col-md-12 border p-3 mt-3">
        <div id="dendrogram" style="width: 100%; height: 500px;"></div>
      </div>
    </div>
    <script>
      function setChartHeight(chartId) {
        var chartContainer = document.getElementById(chartId)
        var chartWidth = chartContainer.offsetWidth
        chartContainer.style.height = chartWidth + 'px'
      }
      
      // Function to update the plot based on the selected year
      function updatePlot() {
        // Fetch selected year from dropdown
        var selectedYear = document.getElementById('year').value
      
        // Handle empty selection
        if (selectedYear === '') {
          selectedYear = 2022
        }
      
        // Fetch data from the server
        fetch('/update_plot', {
          method: 'POST',
          headers: {
            'Content-Type': 'application/json'
          },
          body: JSON.stringify({ selected_year: selectedYear })
        })
          .then((response) => response.json())
          .then((data) => {
            // Handle errors
            if (data.error) {
              alert(`Error: ${data.error}`)
              return
            }
      
            // Extract data from the server response
            var selected_year = data.selected_year
            var correlationMatrix = data.correlation_matrix
            var meta_info = data.meta_info
            var parties = data.parties
            var dendrogramData = data.dendrogram
      
            console.log(dendrogram)
      
            var matrix_plot_data = [
              {
                z: correlationMatrix,
                type: 'heatmap',
                colorscale: 'RdBu', // Blue-Red colormap
                zmin: -1,
                zmax: 1,
                x: parties,
                y: parties,
                text: correlationMatrix.map((row, rowIndex) => row.map((val, colIndex) => (val !== null ? `${parties[rowIndex]} - ${parties[colIndex]}: ${val.toFixed(2)}` : `${parties[rowIndex]} - ${parties[colIndex]}: N/A`))),
                hoverinfo: 'text',
                colorbar: {
                  tickformat: '.2f', // Format for colorbar ticks
                  title: 'Correlation'
                }
              }
            ]
      
            var layout = {
              title: 'Gesorteerde overeenkomst tussen stemgedrag (correlatie), met onthoudingen',
              xaxis: { title: 'Partij', tickangle: -45, automargin: true },
              yaxis: { title: 'Partij', tickangle: -45, autorange: 'reversed', automargin: true },
              aspectmode: 'equal',
              aspectratio: { x: 1, y: 1 }
            }
      
            var config = {
              responsive: true
            }
      
            Plotly.newPlot('heatmap', matrix_plot_data, layout, config)
      
            var categoryCountsArray = Object.entries(data.category_counts)
      
            // Bar graph for categories
            var dataBar = [
              {
                x: categoryCountsArray.map((item) => item[0]),
                y: categoryCountsArray.map((item) => item[1]),
                type: 'bar'
              }
            ]
      
            var layoutBar = {
              title: 'Verdeling onderwerpen (na 1993)',
              xaxis: { title: '', automargin: true },
              yaxis: { title: 'Aantal', automargin: true },
              autosize: true
            }
      
            var configBar = {
              responsive: true
            }
      
            Plotly.newPlot('barChart', dataBar, layoutBar, configBar)
      
            // Extracting data from the dendrogram object
            const color_list = dendrogramData.color_list
            const dcoord = dendrogramData.dcoord
            const icoord = dendrogramData.icoord
            const ivl = dendrogramData.ivl
      
            // Define a set of 20 distinguishable colors
            const distinguishableColors = ['rgb(31, 119, 180)', 'rgb(255, 127, 14)', 'rgb(44, 160, 44)', 'rgb(214, 39, 40)', 'rgb(148, 103, 189)', 'rgb(140, 86, 75)', 'rgb(227, 119, 194)', 'rgb(127, 127, 127)', 'rgb(188, 189, 34)', 'rgb(23, 190, 207)', 'rgb(174, 199, 232)', 'rgb(255, 187, 120)', 'rgb(152, 223, 138)', 'rgb(255, 152, 150)', 'rgb(197, 176, 213)', 'rgb(196, 156, 148)', 'rgb(247, 182, 210)', 'rgb(199, 199, 199)', 'rgb(219, 219, 141)']
      
            // Creating a mapping from color codes to distinguishable colors
            const colorMapping = {}
            const uniqueColorCodes = [...new Set(color_list)]
      
            // Assign distinguishable colors to unique color codes
            uniqueColorCodes.forEach((code, index) => {
              colorMapping[code] = distinguishableColors[index % distinguishableColors.length]
            })
      
            // Creating traces for dendrogram
            const dendrogramTraces = []
      
            // Iterate through each branch in the dendrogram
            for (let i = 0; i < icoord.length; i++) {
              // Extract coordinates for the current branch
              const branchIcoord = icoord[i]
              const branchDcoord = dcoord[i]
              const branchIvl = parties[i]
              const branchColor = colorMapping[color_list[i]] // Get the color from the mapping
      
              // Creating a trace for the current branch
              const dendrogramTrace = {
                type: 'scatter',
                mode: 'lines+text',
                x: branchIcoord,
                y: branchDcoord,
                name: ``, // Custom name for the trace

                //text: branchIvl,
                marker: {
                  color: branchColor,
                  size: 8,
                  line: {
                    color: 'rgb(255,255,255)',
                    width: 0.5
                  }
                }
              }
      
              // Adding the trace to the array of traces
              dendrogramTraces.push(dendrogramTrace)
            }

            const partiesLength = parties.length;
            const customXAxisTicks = Array.from({ length: Math.ceil(partiesLength) }, (_, index) => 5 + index * 10);
            
            // Creating a layout for the plot
            const layoutd = {
              title: 'Dendrogram partijen',
              xaxis: {
                title: 'Partij',
                tickvals: customXAxisTicks,  // Specify the x-axis tick positions
                ticktext: parties, // Specify the x-axis tick labels
              },
              yaxis: {
                title: 'Clusterafstand'
                // Add other y-axis options as needed
              },
              showlegend: false, // Remove legend
              hoverinfo: 'none' // Remove hover information
            }
      
            // Plotting the dendrogram using Plotly
            Plotly.newPlot('dendrogram', dendrogramTraces, layoutd)
      
            // Store the selected year in localStorage
            localStorage.setItem('selectedYear', selectedYear)
      
            // Update the height of the charts based on their width
            setChartHeight('heatmap')
          })
      }
      
      // Function to update the available years dropdown
      function updateAvailableYearsDropdown(availableYears, selected_year) {
        // Update the dropdown options
        var selectElement = document.getElementById('year')
        selectElement.innerHTML = ''
        availableYears.forEach((year) => {
          var option = document.createElement('option')
          option.value = year
          option.text = year
          selectElement.add(option)
        })
      
        // Set the selected year in the dropdown
        document.getElementById('year').value = selected_year
      }
      
      function previousYear() {
        var selectedYear = parseInt(document.getElementById('year').value) - 1
        if (selectedYear < 1922) {
          selectedYear = 1922
        } else {
          if (selectedYear == 1944) {
            selectedYear = 1940
          }
      
          document.getElementById('year').value = selectedYear
          updatePlot()
        }
      }
      
      function nextYear() {
        var selectedYear = parseInt(document.getElementById('year').value) + 1
        if (selectedYear > 2022) {
          selectedYear = 2022
        } else {
          if (selectedYear == 1941) {
            selectedYear = 1945
          }
      
          document.getElementById('year').value = selectedYear
          updatePlot()
        }
      }
      
      // Fetch available years when the page loads
      window.onload = function () {
        fetch('/get_available_years')
          .then((response) => response.json())
          .then((data) => {
            // Handle errors
            if (data.error) {
              alert(`Error: ${data.error}`)
              return
            }
      
            // Extract available years from the server response
            var available_years = data.available_years
      
            // Retrieve the selected year from localStorage
            var storedYear = localStorage.getItem('selectedYear')
      
            // Set the dropdown to the stored year (or default to 2022 if not stored)
            document.getElementById('year').value = storedYear || '2022'
      
            // Update the available years dropdown
            updateAvailableYearsDropdown(available_years, storedYear)
      
            // Initial plot update
            updatePlot()
          })
        setChartHeight('heatmap')
      }
      
      window.onresize = function () {
        setChartHeight('heatmap')
      }
    </script>
  </body>
</html>
